* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.links {
    display: none;
}

body {
    font-family: Poppins;
    background: #141e30;
    background: -webkit-linear-gradient(to left, #141e30, #243b55);
    background: linear-gradient(to left, #141e30, #243b55);
}

header {
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141e30;
    width: 100%;
    height: 5rem;
}

header h1 {
    margin-left: 3rem;
    color: #e5e5e5;
}

.headericons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-right: 2rem;
}

header a {
    margin-left: 3rem;
    text-decoration: none;
    color: #e5e5e5;
}

header a:hover {
    opacity: .7;
}

.form {
    display: flex;
    margin-top: 4rem;
    margin-left: 56.8%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #141e30 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
}

.barratarefas {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: left;
    margin-top: 4rem;
    margin-left: 2.5%;
}

.barratarefas a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #042563;
    font: 15px Poppins;
    margin-left: 10px;
}

.barratarefas a:hover {
    opacity: 0.7;
}

.barratarefas img {
    width: 30px;
    height: 35px;
    color: #042563;
}

.searchbar input {
    background: #141e30;
    width: 250px;
    height: 35px;
    border: solid 0.5px white;
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    margin-right: 10px;
    transition: .3s;
}

.searchbar input::placeholder {
    color: #cccccccc;
}

.searchbar select {
    background: #141e30;
    outline: none;
    border: solid 0.5px white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    margin-right: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: .3s;
}

.searchbar input:hover,
select:hover {
    border: solid 1.5px white;
}

.searchbar input:focus,
select:focus {
    border: solid 1.5px rgba(0, 83, 179, 0.979);
    width: 255px;
}

button {
    border: none;
    outline: none;
    width: 50px;
    height: 35px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font: bold 15px Poppins;
    color: #042563;
    cursor: pointer;
}

button:hover {
    font: bold 17px Poppins;
    opacity: 0.7;
}

main {
    width: 95%;
    display: flex;
    margin: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    margin-top: 2rem;
    color: #141e30;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

.usu {
    padding: 15px 5px;
}

.center {
    text-align: center;
}

table tbody tr {
    opacity: 0.7;
}

table tr:hover {
    opacity: 1;
}

tbody tr td img {
    width: 20px;
    height: 20px;
    color: #141e30;
}

tbody tr td img:hover {
    opacity: .7;
}

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.pag {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px 16px;
    margin-top: 1rem;
    margin-right: 10px;
    font: 18px Poppins;
    color: #141e30;
    background-color: white;
    opacity: 0.7;
}

.pag:hover {
    opacity: 1;
}

.pag a {
    text-decoration: none;
}

.pag a.links {
    display: none;
}

.pag.active {
    opacity: 1;
}

#hide {
    display: none;
}