* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a.links {
    display: none;
}

body {
    font-family: Poppins;
    background: #141e30;
    background: -webkit-linear-gradient(to left, #141e30, #243b55);
    background: linear-gradient(to left, #141e30, #243b55);
}

header {
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141e30;
    width: 100%;
    height: 5rem;
}

header h1 {
    margin-left: 3rem;
    color: #e5e5e5;
}

.headericons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-right: 2rem;
}

header a {
    margin-left: 3rem;
    text-decoration: none;
    color: #e5e5e5;
}

header a:hover {
    opacity: .7;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 50px;
    width: 51%;
    height: 520px;
    background: #243b55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    color: #cccccc;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 5rem;
}

.text {
    display: flex;
    margin-bottom: 2rem;
    color: #cccccc;
    font: bold 1rem Poppins;
}

.textdesc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    color: #cccccc;
    font: bold 1rem Poppins;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    position: relative;
    top: 10%;
    left: -25%;
    margin-left: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    position: relative;
    top: -36%;
    right: -27%;
    margin-right: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 27%;
}

.center label {
    padding: 5px 0px;
}

.border {
    background-color: #141e30;
    color: #fff;
    border-radius: 5px;
    padding: 0px 5px;
    margin-left: 5px;
    font: normal 1rem Poppins;
}

.desc {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    background-color: #141e30d3;
    border-radius: 10px;
    text-align: center;
    font: normal 1rem Poppins;
    color: #fff;
}